<sc-navigation-header>
</sc-navigation-header>
<div class="ms-MessageBanner" *ngIf="isShowMessage">
    <div class="ms-MessageBanner-content">
        <div class="ms-MessageBanner-text">
            <div class="ms-MessageBanner-clipper">
                {{message}}
            </div>
        </div>
        <div class="ms-MessageBanner-action">
            <button class="ms-MessageBanner-close" (click)="closeMessage()">
      <i class="ms-Icon ms-Icon--eventCancel"></i>Close
    </button>
        </div>
    </div>
</div>
<div class="ms-navigation__content">
    <div class="ms-font-xl ms-navigation__content__title">My Favorites</div>
</div>
<ul class="ms-List ">
    <li *ngFor="let item of resultList" class="ms-ListItem" tabindex="0">
        <span class="ms-ListItem-primaryText">{{item.Name}}</span>
        <span class="ms-ListItem-secondaryText">download:{{item.DownloadCount}}</span>
        <span class="ms-ListItem-tertiaryText">{{item.CreateTime | date:shortDate}}</span>
        <span class="ms-ListItem-metaText">stars:{{item.Star}}</span>
        <div class="ms-ListItem-selectionTarget"></div>
        <div class="ms-ListItem-actions">

            <!--<span style="display:inline" class="ms-Button-icon"><i class="ms-CommandBarItem-icon ms-Icon ms-Icon--menu"></i></span>-->

            <div class="ms-ListItem-action" title="apply" (click)="applyTemplate(item)"> <i class="ms-Icon ms-Icon--pencil"></i></div>
            <!--<div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--favorites "></i>藏</div>-->
            <div class="ms-ListItem-action" title="like"><i class="ms-Icon ms-Icon--heart "></i></div>
            <div class="ms-ListItem-action" title="add to organization" (click)="addOrganization(item)"><i class="ms-Icon ms-Icon--org "></i></div>
        </div>
    </li>
</ul>

<!--</div>-->
<!--<sc-brand-footer></sc-brand-footer>-->